<ng-container *ngFor="let card of this.frontages[this.frontageIndex]; let i = index">
  
  <md-card *ngIf="i === cardIndex" class="example-card">

    <md-card-header>
      <md-card-title><h5>Frontage #{{this.frontageIndex + 1}}</h5></md-card-title>
      <md-card-title><h3>Obstruction #{{this.cardIndex + 1}}</h3></md-card-title>
    </md-card-header>
  
    <md-card-content class="md-padding" layout="row" layout-wrap>
      <md-checkbox id="downtown-checkbox" (change)="toggleDowntown()" mdTooltip="Obstructions in the Downtown Zone are considered major obstructions by default">Downtown Zone</md-checkbox>
      <form>
        <md-select [(ngModel)]="card.streetName" name="streetType" placeholder="Street Type">
          <md-option *ngFor ="let type of streetTypes" [value]="type">
            {{ type.name }}
          </md-option>
        </md-select>
  
        <md-select [(ngModel)]="card.streetClosureType" placeholder="Obstruction Type" name="obstructionType">
          <md-option *ngFor ="let classification of card.streetName.classifications" [value]="classification">
            {{ classification.type }}
          </md-option>
        </md-select>
  
        <md-input-container>
          <input [(ngModel)]="card.startDate" name="start-date" mdInput placeholder="Start Date" value="Date" type="date">
        </md-input-container>
  
        <md-input-container>
          <input [(ngModel)]="card.endDate" name="end-date" mdInput placeholder="End Date" value="Date" type="date">
        </md-input-container>
      </form>
    </md-card-content>
  
    <md-card-actions>

      <div style="display:block">
        <button md-icon-button (click)="getPreviousCard()" *ngIf="this.frontages[this.frontageIndex].length > 1 && this.cardIndex > 0" mdTooltip="Previous Building Type"><md-icon>keyboard_arrow_left</md-icon></button>
        <button md-icon-button (click)="getNextCard()" *ngIf="this.frontages[this.frontageIndex].length > 1 && this.cardIndex != this.frontages[this.frontageIndex].length - 1" mdTooltip="Add A Permit"><md-icon>keyboard_arrow_right</md-icon></button>           
        <button (click)="addCard()" md-button mdTooltip="Add Permit Type">ADD OBSTRUCTION</button>
        <button md-button (click)="removeCard(cards, i)" *ngIf="this.frontages[this.frontageIndex].length > 1" mdTooltip="Remove This Permit">REMOVE</button>
      </div>

      <div style="display:block">
        <button md-icon-button (click)="getPreviousFrontage()" *ngIf="frontages.length > 1 && frontageIndex > 0" mdTooltip="Previous Building Type"><md-icon>keyboard_arrow_left</md-icon></button>
        <button md-icon-button (click)="getNextFrontage()" *ngIf="frontages.length > 1 && frontageIndex != frontages.length - 1" mdTooltip="Add A Permit"><md-icon>keyboard_arrow_right</md-icon></button>           
        <button (click)="addFrontage()" md-button mdTooltip="Add New Frontage">ADD FRONTAGE</button>
        <!--<button md-button (click)="removeCard(cards, i)" *ngIf="cards.length > 1" mdTooltip="Remove This Permit">REMOVE </button>-->
      </div>
      
    </md-card-actions>
  
  </md-card>
  
  

</ng-container> 
<div class="col-xs-12 col-sm-4" style="float:right"><calculator-output [cards]="cards" [cardIndex]="cardIndex" [frontages]="frontages" [frontageIndex]="frontageIndex" [dateDirectory]="dateDirectory" [flipCardToggle]="flipCardToggle"></calculator-output></div> 

<div class="col-xs-12" style="clear:both"><permit-listing [cardIndex]="cardIndex" [frontages]="frontages" [frontageIndex]="frontageIndex" (close)="onClose($event)"></permit-listing></div>

