md-card {
    max-width: 25%;
    display: inline-block;
    margin: 15px 0px;
    margin-left: 11%;
}

md-select {
    width: 100%;
}

md-select{
    margin-bottom: 10px;
    margin-top: 15px;
}

md-input-container {
    width: 100%;
}
