<ng-container *ngFor="let card of cards; let i = index">
  
  <md-card *ngIf="i === cardIndex" class="example-card">

    <md-card-header>
      <md-card-title><h3>Permit #{{this.cardIndex + 1}}</h3></md-card-title>
    </md-card-header>
  
    <md-card-content class="md-padding" layout="row" layout-wrap>
      <form>
        <md-select [(ngModel)]="card.streetName" name="streetType" placeholder="Street Type">
          <md-option *ngFor ="let type of streetTypes" [value]="type">
            {{ type.name }}
          </md-option>
        </md-select>
  
        <md-select [(ngModel)]="card.streetClosureType" placeholder="Obstruction Type" name="obstructionType">
          <md-option *ngFor ="let classification of card.streetName.classifications" [value]="classification">
            {{ classification.type }}
          </md-option>
        </md-select>
  
        <md-input-container>
          <input [(ngModel)]="card.startDate" name="start-date" mdInput placeholder="Start Date" value="Date" type="date">
        </md-input-container>
  
        <md-input-container>
          <input [(ngModel)]="card.endDate" name="end-date" mdInput placeholder="End Date" value="Date" type="date">
        </md-input-container>
      </form>
    </md-card-content>
  
    <md-card-actions>

      <button md-icon-button (click)="getPreviousCard()" *ngIf="cards.length > 1 && cardIndex > 0" mdTooltip="Previous Building Type"><md-icon>keyboard_arrow_left</md-icon></button>
      <button md-icon-button (click)="getNextCard()" *ngIf="cards.length > 1 && cardIndex != cards.length - 1" mdTooltip="Add A Permit"><md-icon>keyboard_arrow_right</md-icon></button>           
      <button (click)="addCard()" md-button mdTooltip="Add Permit Type">ADD</button>
      <button md-button (click)="removeCard(cards, i)" *ngIf="cards.length > 1" mdTooltip="Remove This Permit">REMOVE</button>

      
    </md-card-actions>
  
  </md-card>
  
  

</ng-container> 
<div style="float:right;padding-right: 120px"><calculator-output [cards]="cards" [cardIndex]="cardIndex"></calculator-output></div> 

<div style="clear:both"><permit-listing [cards]="cards" [cardIndex]="cardIndex"></permit-listing></div>

