<h2 md-dialog-title>Disclaimer</h2>
<md-dialog-content>
  This calculator is made available by the City of Raleigh for informational and planning purposes only and may not reflect the final cost to obtain right-of-way permits. By using this calculator you understand that the fee details provided are estimates based on the information entered and the final calculation of fees will be provided by the Development Services Customer Services Center.  
</md-dialog-content>
<md-dialog-actions>
  <button md-button md-raised-button md-dialog-close color="primary">Agree</button>
</md-dialog-actions>
