<md-toolbar color="primary">
  <img alt="seal" src="http://www.raleighnc.gov/content/static/images/City-Seal-BW.png"/>
  <h3>City of Raleigh</h3>
</md-toolbar>


<md-toolbar color="primary">
  <span>Right of Way Permit Calculator</span>

  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>info_outline</md-icon>
  </button>
</md-toolbar>


<md-menu #menu="mdMenu">
    <button md-menu-item (click)="openDialog()">
      <span>Obstruction Descriptions</span>
    </button>
</md-menu>

<div class="col-xs-12"><form-input></form-input></div>
