<md-card class="example-card">
    <md-card-header>
        <md-card-title><h3>Permit Totals</h3></md-card-title>
    </md-card-header>
    <md-card-content>
        <md-list>
            <md-list-item>
                <h3 md-line>Daily Fee Total</h3>
                <p md-line *ngIf="this.dailyFeeTotal > 0">
                    {{this.dailyFeeTotal}}
                </p>
                <p md-line *ngIf="this.dailyFeeTotal === 0">
                    --
                </p>               
            </md-list-item>
            <md-list-item>
                <h3 md-line>Permit Review Fee Total</h3>
                <p md-line *ngIf="this.reviewFeeTotal > 0">
                    {{this.reviewFeeTotal}}
                </p>
                <p md-line>
                </p>                     
                <p md-line *ngIf="this.reviewFeeTotal === 0">
                    --
                </p>                  
            </md-list-item>
            <md-list-item>
                <h3 md-line>Permit Total</h3>
                <p md-line *ngIf="this.totalTotal > 0">
                  {{this.totalTotal}}
                </p>                       
                <p md-line *ngIf="this.totalTotal === 0">
                    --
                </p>                   
            </md-list-item>           
        </md-list>
    </md-card-content>
    <md-card-actions style="margin:0 auto;">

    </md-card-actions>
</md-card>
