<md-card class="example-card">
    <md-card-header>
        <md-card-title><h3>Permit Totals</h3></md-card-title>
    </md-card-header>
    <md-card-content>
        <md-list>
            <md-list-item>
                <h3 md-line>Valuation</h3>
                <p md-line>
                    hi
                </p>
                <p md-line>
                    --
                </p>                
            </md-list-item>
            <md-list-item>
                <h3 md-line>Building Permit</h3>
                <p md-line>
                    hi
                </p>
                <p md-line>
                    <small><em>hi</em></small>
                </p>                     
                <p md-line>
                    --
                </p>                   
            </md-list-item>
            <md-list-item>
                <h3 md-line>Electrical Permit</h3>
                <p md-line>
                  hi
                </p>
                <p md-line>
                    ayee
                </p>                        
                <p md-line>
                    --
                </p>                   
            </md-list-item>
            <md-list-item>
                <h3 md-line>Mechanical Permit</h3>
                <p md-line>
                    hi
                </p>
                <p md-line>
                    hi
                </p>                
                <p md-line>
                    --
                </p>                   
            </md-list-item>            
        </md-list>
    </md-card-content>
    <md-card-actions style="margin:0 auto;">

    </md-card-actions>
</md-card>
