<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Current Permits</div>

  <!-- Table -->
  <table class="table table-bordered">
    <tr style="font-weight: bold">
    <div class="panel-heading">Frontage</div>
    <th>Street Closure Type</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Duration</th>
  </tr>

  <tr *ngFor="let card of this.frontages[this.frontageIndex]">
    <td>{{this.frontageNamesDict[this.frontageIndex]}}</td>
    <td>{{card.streetName.name}}  {{card.streetClosureType.type}}</td>
    <td>{{card.startDate | date:'fullDate'}}</td>
    <td>{{card.endDate | date:'fullDate'}}</td>
    <td>
      <p md-line *ngIf="card.calcDuration() > 1">{{card.calcDuration()}} days</p>
      <p md-line *ngIf="card.calcDuration() == 1">{{card.calcDuration()}} day</p>
    </td>
  </tr>

  </table>
</div>



