<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Current Permits</div>

  <!-- Table -->
  <table class="table table-bordered">
    <tr style="font-weight: bold">
    <th>Street Closure Type</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Duration</th>
  </tr>
  <tr *ngFor="let card of cards">
    <td>{{card.streetName.name}}  {{card.streetClosureType.type}}</td>
    <td>{{card.startDate}}</td>
    <td>{{card.endDate}}</td>
    <td>
      <p md-line *ngIf="card.calcDuration() > 0">{{card.calcDuration()}}</p>
    </td>
  </tr>
  </table>
</div>



