
<md-dialog-content>
 <span class="heading">Full Street Closure</span>
    <p>The obstruction of a public street (curb to curb or EOP to EOP) such that no access is provided to the existing street for general vehicular traffic.</p>
    
    <span class="heading">Lane Obstruction</span>
    <p>The obstruction along on-street parking or street travel lane such that limited access is provided to the existing street for general vehicular traffic.</p>
    
    <ul style>
    <li><p class="subheading">Major Striped</p>       
        <span>- Any NCDOT street in Raleigh’s Jurisdiction with a marked centerline</span>
        <span>- Any street that is bound by the Hillsborough Street and Downtown Business District (see map)</span>
        <span>- Any City of Raleigh maintained street that is classified as a Mixed-Use or Major Street per the Unified Development Ordinance with a marked centerline</span>
    </li>
    <li><p class="subheading">Minor Striped</p>       
    <span>- Any City of Raleigh maintained street that is classified as a Sensitive Area or Local Street per the Unified Development Ordinance with a marked centerline</span>
    </li>
    <li><p class="subheading">Major Non-Striped</p>
        <span>- Any NCDOT street in Raleigh’s Jurisdiction without a marked centerline</span>
        <span>- Any street that is bound by the Hillsborough Street and Downtown Business District without a marked centerline</span>
    </li>
    <li><p class="subheading">Minor Non-Striped</p>
        <span>- Any City of Raleigh maintained street that is classified as a Sensitive Area or Local Street per the Unified Development Ordinance without a marked centerline</span>
    </li>
    </ul>
    
    <span class="heading">Sidewalk Obstruction</span>
    <p>The obstruction of any sidewalk to allow pedestrian detouring and providing an accessible path for all pedestrians.</p>
    
    <ul>
        <li><p class="subheading">Sidewalk – Full Closure:</p> 
            <span>- The obstruction of a sidewalk such that no access is provided to the existing sidewalk for general pedestrian traffic</span>
        </li>
        <li><p class="subheading">Sidewalk – Auxiliary (AUX):</p>
            <span>- The obstruction of a sidewalk such that no access is provided to the existing sidewalk for general pedestrian traffic, but supplementary or alternative means such as cargo containers, scaffolding and temporarily constructed boardwalks/paths are provided to facilitate continued pedestrian movement through or adjacent to the obstructed sidewalk</span>
        </li>
        <li><p class="subheading"> Sidewalk  - Partial Closure:</p>
            <span>- The obstruction of a sidewalk such that limited, ADA- and PROWAG-compliant access is provided to the existing sidewalk utilizing means such as barricades and traffic cones</span>
        </li>
        <li><p class="subheading">Sidewalk Major:</p>
            <span>- Sidewalk along any NCDOT maintained street with a marked centerline</span>
            <span>- Sidewalk that is part of a Mixed-Use Street or Major Street along City of Raleigh maintained streets with a marked centerline per the Unified Development Ordinance</span>
            <span>- Sidewalk bound by the Hillsborough Street and Downtown Business District (see map)</span>
        </li>
        <li><p class="subheading">Sidewalk Minor:</p>
            <span>- Sidewalk along any NCDOT maintained street without a marked centerline</span>
            <span>- Sidewalk that is part of a Sensitive or Local Street or along City of Raleigh maintained streets with a marked centerline per the Unified Development Ordinance</span>
        </li>
        <li><p class="subheading">Miscellaneous Major Dumpster/POD:</p>
            <span>- Any Dumpster or POD placed on a street per Major Definition</span>
            <span>- If the area encompasses paid parking, the daily ParkLink fee plus the daily right-of-way fee applies</span>
        </li>
        <li><p class="subheading">Miscellaneous Minor Dumpster/POD:</p>
            <span>- Any Dumpster or POD placed on a street per Minor Definition</span>
            <span>- If the area encompasses paid parking, the daily ParkLink fee plus the daily right-of-way fee applies</span>
        </li>
    </ul>
</md-dialog-content>

<md-dialog-actions>
  <button md-button md-raised-button md-dialog-close color="primary">Close</button>
</md-dialog-actions>