li {
    list-style: circle;
}

li > span { 
    display: block;
}

.heading {
    font-weight: bold;
    text-decoration: underline;
}

.subheading {
    display: inline-block;
    font-style: italic;
    padding-top: 15px;
}

.subheading > span {
    font-style: none;
    list-style: disc outside none;
}

.mat-dialog-actions {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    display: flex;
}